{
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "impliedStrict": true
    },
    "sourceType": "script"
  },
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": ["google", "eslint:recommended", "plugin:prettier/recommended"],
  "rules": {
    "max-len": ["error", { "code": 160 }]
  }
}
